@page
@model WebApplication1.Areas.Admin.Pages.ArticleManagement.EditModel
@{
}
<div class="card">
    <div class="card-header">
        <h2>Edit Article: @Model._Article.Title</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="_Article.Id" />
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="_Article.Title" class="control-label">Title:</label>
                            <input asp-for="_Article.Title" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="_Article.ShortDescription" class="control-label">ShortDescription:</label>
                            <input asp-for="_Article.ShortDescription" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="_Article.Image" class="control-label">Image:</label>
                            <input asp-for="_Article.Image" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="_Article.Content" class="control-label">Content:</label>
                            <input asp-for="_Article.Content"  class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="Content" class="control-label">Article Category:</label>
                            <select asp-items="@Model.ArticleCategories" asp-for="_Article.ArticleCategoryId" class="form-control">
                                <option value="@Model._Article.ArticleCategoryId.ToString()">@Model.ArticleCategories.FirstOrDefault(x => x.Value == Model._Article.ArticleCategoryId.ToString()).Text</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Edit" class="btn btn-warning" />
                        <a class="btn btn-dark" asp-page="./Index" asp-area="Admin">Back to list</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>